@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
  font-family: "Newsreader", serif;
}

.login-form-container {
  background: rgba(141, 217, 213, 0.2);
  border: 3px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1.5);
  width: 80%;
  max-width: 400px;
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.login-form-container h2 {
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(236, 240, 209);
}

.form-field {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.form-field label {
  margin-bottom: 0.2rem;
  color: rgb(236, 240, 209);
}

.form-field input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 1rem;
  transition: all 0.8s ease;
  background-color: #c5d6b1;
}

.form-field input:focus {
  border-color: #0f531f;
  box-shadow: 0 0 10px rgba(24, 110, 44, 0.6);
  outline: none;
}

.error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;
  min-height: 1rem;
}

button {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #28a745;
  background: transparent;
  color: #28a745;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

button:disabled {
  background: #7abaff;
  cursor: not-allowed;
  border-color: #7abaff;
  color: #fff;
}

button:hover:not(:disabled) {
  background: #28a745;
  color: #fff;
}

.toggle-mode {
  text-align: center;
  margin-top: 1rem;
}

.toggle-link {
  color: rgb(236, 240, 209);
  cursor: pointer;
}
